.weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(15, 5, 5);
  padding: 16px;
  border-radius: 4px;
  background: radial-gradient(
    263px at 100.2% 3%,
    rgb(12, 85, 141) 31.1%,
    rgb(205, 181, 93) 36.4%,
    rgb(244, 102, 90) 50.9%,
    rgb(199, 206, 187) 60.7%,
    rgb(249, 140, 69) 72.5%,
    rgb(83, 118, 224) 72.6%
  );
  box-shadow: 10px 10px 5px 12px whitesmoke;
}
.weather h1 {
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  padding: 0;
  margin: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}
.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.weather canvas {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}
.weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
